@import url("https://fonts.googleapis.com/css?family=Monda|Offside");
.syllabus {
  font-family: "Monda", serif;
}

h1, h2, h3 {
  font-family: "Offside", serif;
}

h1 + p, h2 + p, h3 + p {
  text-indent: 0;
}

p {
  text-indent: 3em;
}

.schedule thead {
  font-weight: bold;
}

.schedule .colWeek {
  width: 10%;
}

.schedule .colDates {
  width: 10%;
}

.schedule .colTopic {
  width: 15%;
}

.schedule .colMaterial {
  width: 60%;
}

.schedule td {
  padding: 10px;
  vertical-align: top;
}

.resourceList {
  list-style-type: none;
}
